.searchPage {
  height: 80%;
  margin: 24px;

  .page-heading {
    margin-bottom: 24px;
  }

  .data-card {
    height: 75%;
  }

  .search-bar {
    width: 90%;
    .search-input {
      width: 70%;
    }
  }
}


